# Day5 (6월 4일)

* 학습목표:
    * pandas의 Series 및 DataFrame 객체에서 값 선택하는 다양한 방법을 익힌다.
    * pandas의 다양한 통계 메소드를 익힌다.
    * pandas 객체 중 누락된 데이터의 처리 방법을 익힌다.
    * 계층적 색인을 이해하고 확용한다.

* 과제:
    * 과제5-1:
        * yahoo_price.pkl을 읽어들여 price라는 DataFrame 객체를 생성한다.yahoo_volume.pkl을 읽어들여 volume이라는 DataFrame 객체를 생성한다.
        * price 중 년도가 계층적 색인의 레벨 0으로 되도록 m_price를 생성한다.volume도 계층적 색인이 추가된 m_volume을 생성한다.
        * m_price와 m_volume에 퍼센트 변화율을 추가한다.

    * 과제5-2:
        * concrete.csv를 읽어들여 concrete라는 DataFrame 객체를 생성한다.
        * 4의 데이터를 관찰하여 분석 방법을 고민해본다.

In [1]:
from __future__ import division
from numpy.random import randn
import numpy as np
import os
import matplotlib.pyplot as plt
np.random.seed(12345)
plt.rc('figure', figsize=(10, 6))
from pandas import Series, DataFrame
import pandas as pd
np.set_printoptions(precision=4)

In [2]:
from IPython.display import display, HTML

CSS = """
.output {
    flex-direction: row;
}
"""

HTML('<style>{}</style>'.format(CSS))

In [15]:
price = pd.read_pickle('c:/AIPython_2/ch05/yahoo_price.pkl')
price

                  AAPL        GOOG         IBM       MSFT
Date
2010-01-04   27.990226  313.062468  113.304536  25.884104
2010-01-05   28.038618  311.683844  111.935822  25.892466
2010-01-06   27.592626  303.826685  111.208683  25.733566
2010-01-07   27.541619  296.753749  110.823732  25.465944
2010-01-08   27.724725  300.709808  111.935822  25.641571
2010-01-11   27.480148  300.255255  110.763844  25.315406
2010-01-12   27.167562  294.945572  111.644958  25.148142
2010-01-13   27.550775  293.252243  111.405433  25.382312
2010-01-14   27.391211  294.630868  113.184773  25.892466
2010-01-15   26.933449  289.710772  112.731385  25.808835
2010-01-19   28.124939  293.516976  114.750251  26.009552
2010-01-20   27.692027  289.915587  111.422546  25.583028
2010-01-21   27.213337  291.199286  110.353231  25.097963
2010-01-22   25.863592  274.730736  107.359151  24.219826
2010-01-25   26.559391  269.730740  107.889534  24.520902
2010-01-26   26.934757  270.939526  107.573014  24.671439
2010-01-27   27.188489  270.779695  108.069178  24.813614
2010-01-28   26.065007  266.878565  105.862111  24.387091
2010-01-29   25.119401  264.705742  104.698697  23.567497
2010-02-01   25.468608  266.244198  106.649125  23.759851
2010-02-02   25.616400  265.295156  107.384814  23.801666
2010-02-03   26.057159  270.140309  107.496027  23.943840
2010-02-04   25.118093  263.127321  105.220523  23.283148
2010-02-05   25.564084  265.380075  105.665355  23.433686
2010-02-08   25.388826  266.468996  104.728745  23.182789
2010-02-09   25.659561  267.952522  105.871586  23.425323
2010-02-10   25.519617  266.958496  105.527873  23.408596
2010-02-11   25.983917  267.932539  106.318414  23.517319
2010-02-12   26.207567  266.294170  106.550416  23.358417
2010-02-16   26.602551  270.380071  107.607330  23.820544
...                ...         ...         ...        ...
2016-09-12  105.440002  769.020020  158.289993  57.049999
2016-09-13  107.949997  759.690002  155.809998  56.529999
2016-09-14  111.769997  762.489990  154.050003  56.259998
2016-09-15  115.570000  771.760010  155.660004  57.189999
2016-09-16  114.919998  768.880005  153.839996  57.250000
2016-09-19  113.580002  765.700012  154.869995  56.930000
2016-09-20  113.570000  771.409973  154.449997  56.810001
2016-09-21  113.550003  776.219971  155.529999  57.759998
2016-09-22  114.620003  787.210022  156.110001  57.820000
2016-09-23  112.709999  786.900024  154.979996  57.430000
2016-09-26  112.879997  774.210022  153.979996  56.900002
2016-09-27  113.089996  783.010010  156.770004  57.950001
2016-09-28  113.949997  781.559998  158.289993  58.029999
2016-09-29  112.180000  775.010010  158.110001  57.400002
2016-09-30  113.050003  777.289978  158.850006  57.599998
2016-10-03  112.519997  772.559998  157.610001  57.419998
2016-10-04  113.000000  776.429993  156.460007  57.240002
2016-10-05  113.050003  776.469971  157.080002  57.639999
2016-10-06  113.889999  776.859985  156.880005  57.740002
2016-10-07  114.059998  775.080017  155.669998  57.799999
2016-10-10  116.050003  785.940002  157.020004  58.040001
2016-10-11  116.300003  783.070007  154.789993  57.189999
2016-10-12  117.339996  786.140015  154.289993  57.110001
2016-10-13  116.980003  778.190002  153.720001  56.919998
2016-10-14  117.629997  778.530029  154.449997  57.419998
2016-10-17  117.550003  779.960022  154.770004  57.220001
2016-10-18  117.470001  795.260010  150.720001  57.660000
2016-10-19  117.120003  801.500000  151.259995  57.529999
2016-10-20  117.059998  796.969971  151.520004  57.250000
2016-10-21  116.599998  799.369995  149.630005  59.660000

[1714 rows x 4 columns]

In [14]:
volume = pd.read_pickle('c:/AIPython_2/ch05/yahoo_volume.pkl')
volume

                 AAPL      GOOG       IBM       MSFT
Date
2010-01-04  123432400   3927000   6155300   38409100
2010-01-05  150476200   6031900   6841400   49749600
2010-01-06  138040000   7987100   5605300   58182400
2010-01-07  119282800  12876600   5840600   50559700
2010-01-08  111902700   9483900   4197200   51197400
2010-01-11  115557400  14479800   5730400   68754700
2010-01-12  148614900   9742900   8081500   65912100
2010-01-13  151473000  13041800   6455400   51863500
2010-01-14  108223500   8511900   7111800   63228100
2010-01-15  148516900  10909600   8494400   79913200
2010-01-19  182501900   8665700  13916200   46575700
2010-01-20  153038200   6525700  15197500   54849500
2010-01-21  152038600  12662600   9608600   73086700
2010-01-22  220441900  13651700  10088600  102004600
2010-01-25  266424900   8872800   5738500   63373000
2010-01-26  466777500   8743600   7135300   66639900
2010-01-27  430642100   7958400   8719200   63949500
2010-01-28  293375600   6482300   9622200  117513700
2010-01-29  311488100   8311900  11571200  193888500
2010-02-01  187469100   4518400   7242900   85931100
2010-02-02  174585600   8223000   5899900   54413700
2010-02-03  153832000   6020500   4177100   61397900
2010-02-04  189413000   6780600   9126900   77850000
2010-02-05  212576700   6335600   8617000   80960100
2010-02-08  119567700   5408700   5718500   52820600
2010-02-09  158221700   5660200   6044500   59195800
2010-02-10   92590400   5369000   5219100   48591300
2010-02-11  137586400   4838000   5089000   65993700
2010-02-12  163867200   4576400   8017700   81117200
2010-02-16  135934400   7336100   6777300   51935600
...               ...       ...       ...        ...
2016-09-12   45292800   1286800   4367500   29303000
2016-09-13   62176200   1379900   3636700   30130200
2016-09-14  110888700   1087400   3860600   24062500
2016-09-15   89983600   1305100   3645600   26847000
2016-09-16   79886900   2046000   6463600   44607000
2016-09-19   47023000   1171100   2450100   20937100
2016-09-20   34514300    975300   2159100   17384000
2016-09-21   36003200   1151400   2473900   33707300
2016-09-22   31074000   1463600   2691100   19822200
2016-09-23   52481200   1409500   2702200   19955300
2016-09-26   29869400   1508500   2533300   21688700
2016-09-27   24607400   1138800   2987200   28065100
2016-09-28   29641100   1107900   3310000   20536400
2016-09-29   35887000   1301400   3374800   25463500
2016-09-30   36379100   1580300   3596900   29910800
2016-10-03   21701800   1275900   2227800   19189500
2016-10-04   29736800   1197400   2884100   20085900
2016-10-05   21453100   1457100   1684500   16726400
2016-10-06   28779300   1066300   1950100   16212600
2016-10-07   24358400    930700   2671900   20089000
2016-10-10   36236000   1161400   2481300   18196500
2016-10-11   64041000   1368000   2901300   26497400
2016-10-12   37586800    934900   2964000   22177500
2016-10-13   35192400   1300400   2909900   25313700
2016-10-14   35652200    851100   4358200   27402500
2016-10-17   23624900   1089500   5890400   23830000
2016-10-18   24553500   1995600  12770600   19149500
2016-10-19   20034600    116600   4632900   22878400
2016-10-20   24125800   1734200   4023100   49455600
2016-10-21   22384800   1260500   4401900   79974200

[1714 rows x 4 columns]

AttributeError: 'DataFrame' object has no attribute 'rows'